

.page{
    display: flex;
    background-color: white;
}

.left{
    width: 13%;
}

.right{
    flex: 4;
    background-color: rgb(255, 255, 255);
    width: 90%;
    display: block;
    box-sizing: border-box;
    padding: 0.5%;
}