/* LeftPanel.css */

.drawer {
  transition: width 0.3s;
  overflow-x: hidden;
  white-space: nowrap;
}

.drawer-open {
  width: 240px;
}

.drawer-closed {
  width: 60px;
}

.drawer-paper {
  box-sizing: border-box;
}

.drawer-content {
  display: flex;
  align-content: center;
}

.small-logo {
  height: 20px;
  margin-left: 45%;
  margin-top: 10%;
}

.logo {
  height: 40px;
  margin-right: auto;
}

.icon-button {
  align-content: right;
}

.list-item {
  min-height: 48px;
}

.list-item-open {
  justify-content: initial;
  padding-left: 16px;
}

.list-item-icon {
  min-width: 0;
  margin-right: auto;
  justify-content: center;
}

.list-item-text {
  display: block;
}
