

.logo-container {
  display: flex;
  justify-content: center;
  padding: 5%;
  transition: height 0.3s;
}

.logo-image {
  width: 100%;
  height: auto;
}

.list-item {
  padding-left: 1%;
}

.list-item-icon {
  margin-right: 5%;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .left-drawer {
    width: 10%; /* Adjust for smaller screens */
  }
  
  .left-drawer.collapsed {
    width: 5%; /* Adjust for smaller screens */
  }
}

@media (max-width: 480px) {
  .left-drawer {
    display: none; /* Hide the drawer on very small screens */
  }
}
