/* LeftRightSplitLayout.css */

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; /* Ensure no overflow */
}

.header, .footer {
  background-color: rgb(232, 246, 246);
  padding: 1%;
}

.content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.left-pane {
  display: flex;
  flex-direction: column;
  width: 15%; 
  transition: width 0.3s;
}


.right-pane {
  flex: 1;
}

@media (max-width: 768px) {
  .left-pane {
    width: 10%; 
  }

}

@media (max-width: 480px) {
  .left-pane {
    display: none; 
  }

  .content {
    flex-direction: column;
  }

  .right-pane {
    margin-left: 0; 
  }
}
